didactic.sty
dump.text
ltxobj/
merge.sh
merge.tex
notes.pdf
slides.pdf
fib.py
fib.tex
introsort.py
introsort.tex
test_introsort.py
__pycache__/
tests_Makefile
didactic_output_*
didactic_code_*
whatis.tex
cppfrac.mk
cppjava.tex
fracexample
fracexample.cpp
fracexample.noline.cpp
fracexample2.cpp
fractest
fractest.cpp
fraction.cpp
fraction.h
fraction.o
frac.mk
noweb.tex
FracExample.class
FracExample.java
Fraction.class
Fraction.java
Fraction2.java
Fraction3.java
doctest.tex
lpbook.pdf
lpbook-teachers.pdf
